@import "base";

#menu {
    a {
        /* Styling for links in menu */
        color: #1d2a3b;
        margin-right: 10px;
        text-decoration: none;
        text-transform: uppercase;
    }

    .btn-outline-dark {
        /* Style for "Sign Up" button */
        vertical-align: middle;
    }

    @media screen and (max-width: $lg) {
        .col-lg-6 {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

#header {
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3) !important;
    overflow-x: hidden;
    position: relative;

    #arrow1 {

        position: absolute;
        top: 5;
        left: 58%;
        transform: rotate(120deg);
        width: 100px;
    }
}

#how-it-works {
    h3 {
        font-family: "Inter", sans-serif;
        text-transform: none;
    }

    .tab-icon {
        background-color: black;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-radius: 50%;
        color: #f1f1f1;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        font-size: 16px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 4px;
        width: 40px; height: 40px;
    }
}
