{% extends "layout.html" %}

{% block title %}
    Chat
{% endblock %}

{% block resources %}
    <link href="{{ url_for('static', filename='styles/dashboard.css') }}" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<div class="container-fluid h-100">
    <div class="py-5 row h-100">
        <div class="col-lg-6 h-lg-75">
            <div class="bg-white me-2 p-3 shadow h-100">
                <ul class="mb-2 mb-sm-0 nav nav-tabs">
                    <li class="nav-item py-1 py-xl-3">
                        <a class="active px-3" data-bs-toggle="tab" href="#in-charge">I'm in charge of...</a>
                    </li>
                    <li class="nav-item py-1 py-xl-3">
                        <a class="px-3" data-bs-toggle="tab" href="#part-of">I'm a member of...</a>
                    </li>
                    <li class="nav-item py-1 py-xl-3">
                        <a class="px-3" href="{{ url_for('general.logout') }}">Log Out &rarr;</a>
                    </li>
                </ul>
                <div class="tab-content px-3 py-1">
                    <div class="tab-pane active fade show" id="in-charge">
                        <p>I'm in charge of...</p>
                        <form action="/create" method="post">
                            <input autocomplete="off" class="form-control mb-1" name="name" placeholder="Name of group..." required type="text"/>
                            <button class="btn btn-dark d-block w-100" type="submit">Create!</button>
                        </form>
                        <hr/>
                        <ul class="list-group list-group-flush">
                            {% for group in in_charge %}
                                <li class="list-group-item">
                                    <a data-bs-toggle="collapse" href="#incharge{{ group.id }}">
                                        <p>{{ group.name }}</p>
                                        <p class="text-muted">
                                            {% if group.members | length %}
                                                {% for member in group.members[:2] %}
                                                    {{ member.email }},
                                                {% endfor %}
                                                ...
                                            {% else %}
                                                No group members so far. Go invite someone!
                                            {% endif %}
                                        </p>
                                    </a>
                                </li>
                                <div class="collapse" id="incharge{{ group.id }}">
                                    <div class="px-sm-3 pt-3">
                                        <form action="/invite" class="input-inline" method="post">
                                            <input name="group_id" type="hidden" value="{{ group.id }}"/>
                                            <input autocomplete="off" class="form-control" name="email" placeholder="Invite someone by email..." required type="email"/>
                                            <button class="btn btn-dark" type="submit">Invite!</button>
                                        </form>
                                        {% if group.members | length %}
                                            <ul class="list-group list-group-flush">
                                                {% for member in group.members %}
                                                    <li class="list-group-item">
                                                        <a href="javascript:void(0)" onclick="javascript:loadChatroomAsCreator({{ group.id }}, {{ member.id }})">
                                                            <img class="profile-image" src="{{ member.avatar }}"/>
                                                            {{ member.email }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                                <li class="list-group-item"></li>
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            <li class="list-group-item"></li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="part-of">
                        <p>I'm a member of...</p>
                        <form action="/join" class="input-inline" method="post">
                            <input autocomplete="off" class="form-control" name="code" placeholder="Join group by code..." required type="text"/>
                            <button class="btn btn-dark" type="submit">Join!</button>
                        </form>
                        <hr/>
                        <ul class="list-group list-group-flush">
                            {% for group in part_of %}
                                <li class="list-group-item">
                                    <a onclick="loadChatroomAsMember({{ group.id }})" href="javascript:void(0)">
                                        <p>{{ group.name }}</p>
                                        <p class="text-muted">led by {{ group.creator }}</p>
                                    </a>
                                </li>
                            {% endfor %}
                            <li class="list-group-item"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="bg-white py-1 shadow">
                <div class="border-bottom px-3 pt-3">
                    <h4 id="chatroom-title">No chatroom opened.</h4>
                    <p class="text-muted" id="chatroom-receiver">Get started by creating or clicking on a chat option!</p>
                </div>
                <div class="p-3" id="chatroom"></div>
                <form class="border-top clearfix p-3" id="send-message">
                    <textarea class="form-control mb-2" name="message" placeholder="Send message..."></textarea>
                    <button class="btn btn-dark float-end rounded-pill" type="submit">Send &rarr;</button>
                </form>
            </div>
        </div>
    </div>
    <div class="m-3 position-fixed bottom-0 end-0 toast-container">
        {% if get_flashed_messages() %}
            <div class="show toast">
                <div class="toast-header">
                    <strong class="me-auto">Notification</strong>
                    <button class="btn-close" data-bs-dismiss="toast" type="button"></button>
                </div>
                <div class="toast-body">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </div>
        {% endif %}
    </div>
</div>
<script src="{{ url_for('static', filename='scripts/app.js') }}"></script>
{% endblock %}
