{% extends "layout.html" %}

{% block resources %}
    <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="mx-4 mx-sm-4 mt-3 row" id="menu">
            <div class="col-lg-6">
                <h1 id="logo">OfficeHours</h1>
            </div>
            <div class="col-lg-6 d-none d-lg-flex flex-row-reverse">
            </div>
        </div>
        <div class="align-items-center m-3 me-0 px-4 pt-5 row" id="header">
            <div class="col-lg-8">
                <h1 class="display-1">Office hours... for your inbox.</h1>
                <p class="display-6 ms-5"><i>Clean up the clutter in your inbox + maintain a work/life balance by setting up office hours... for your inbox!</i></p>
            </div>
            <div class="col-lg-4">
                <img id="arrow1" src="{{ url_for('static', filename='images/arrow.png') }}"/>
                <img class="rounded-top shadow" src="https://proud-alligator.cloudvent.net/images/dashboard.png"/>
            </div>
        </div>
        <div class="align-items-center m-3 my-5 row" id="how-it-works">
            <h1 class="text-center">How does it work?</h1>
            <div class="col-lg-8 py-3">
                <div class="shadow mb-1 tab-icon">
                    <span>1</span>
                </div>
                <div class="shadow mb-1 tab-icon">
                    <span>2</span>
                </div>
                <div class="shadow mb-1 tab-icon">
                    <span>3</span>
                </div>
                <div class="card-group py-2">
                </div>
            </div>
            <div class="col-lg-4 py-3">
                <p>It's as simple as it sounds: office hours for your inbox. Choose a time. People will only be able to message you during this time, and we'll notify your inbox if anybody messages you during these hours.</p>
            </div>
        </div>
    </div>
{% endblock %}
