@font-face {
  font-family: "Bebas Neue";
  src: url("/static/fonts/BebasNeue.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  src: url("/static/fonts/Inter.ttf") format("truetype");
}
@font-face {
  font-family: "Syne";
  src: url("/static/fonts/Syne.ttf") format("truetype");
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: black;
  cursor: pointer;
  font-weight: 700;
}
a:hover {
  opacity: 0.9;
}

body, html {
  font-family: "Inter", sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  scroll-behavior: smooth;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Syne", sans-serif;
  font-weight: 800 !important;
  text-transform: uppercase;
}

p {
  font-size: 18px;
}

.arrow {
  width: 100px;
}

#logo {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
}

.container-fluid {
  background-image: url("/static/images/wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 991.98px) {
  .container-fluid > .row {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .container-fluid > .row .col-lg-6 {
    border: none !important;
  }
  .container-fluid > .row .col-lg-6 .form-floating {
    /* Change margin-bottom of form inputs */
    margin-bottom: 0.5rem !important;
  }
}

.form-floating input:focus {
  border-color: var(--bs-dark);
  box-shadow: none !important;
}
.form-floating label {
  /* Align label with input */
  margin-left: 0.75rem;
}

.text-special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.text-special:before, .text-special:after {
  border-bottom: 1px solid var(--bs-secondary);
  content: "";
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: auto;
}
.text-special:before {
  margin-right: 10px;
}
.text-special:after {
  margin-left: 10px;
}
