@font-face {
  font-family: "Bebas Neue";
  src: url("/static/fonts/BebasNeue.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  src: url("/static/fonts/Inter.ttf") format("truetype");
}
@font-face {
  font-family: "Syne";
  src: url("/static/fonts/Syne.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}

a {
  color: black;
  cursor: pointer;
  font-weight: 700;
}
a:hover {
  opacity: 0.9;
}

body, html {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Syne", sans-serif;
  font-weight: 800 !important;
  text-transform: uppercase;
}

p {
  font-size: 18px;
}

.text-gradient {
  background-color: #fc9238;
  background-image: linear-gradient(90deg, #e623bb 0%, #f8b84f 100%), linear-gradient(0deg, white, white);
  margin-left: 4px;
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#logo {
  font-family: "Bebas Neue", sans-serif;
}

#menu a {
  /* Styling for links in menu */
  color: #1d2a3b;
  margin-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
}
#menu .btn-outline-dark {
  /* Style for "Sign Up" button */
  vertical-align: middle;
}
@media screen and (max-width: 991.98px) {
  #menu .col-lg-6 {
    padding-left: 0;
    padding-right: 0;
  }
}

#how-it-works h3 {
  font-family: "Inter", sans-serif;
  text-transform: none;
}
#how-it-works #card1-icon, #how-it-works #card2-icon, #how-it-works #card3-icon {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  color: #f1f1f1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 4px;
  width: 40px;
  height: 40px;
}
#how-it-works #card1-icon {
  background-color: #f87171;
}
#how-it-works #card2-icon {
  background-color: #60a5fa;
}
#how-it-works #card3-icon {
  background-color: #34d399;
}
